<h1 style="text-align: center">passengre details</h1>

<div class="container">
  <form class="form" [formGroup]="details">

    <div class="row form">
      <div class="col-xs-12" formArrayName="arrayDetails">
        <div class="row details" *ngFor="let p of svc.sumPassaenger; let i = index" [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">first name</label>
              <input type="text" class="form-control" id="inputEmail4" formControlName='firstname'
                placeholder="first name" value="John">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">last name</label>
              <input type="text" class="form-control" id="inputPassword4" formControlName='lastname'value="John">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">id</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="id" formControlName='ID'value=4582657>
          </div>
          <div class="form-group">
            <label for="inputAddress2">M.Mr</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="address" formControlName='MorMr'value="M">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">age</label>
              <input type="email" class="form-control" id="inputCity" formControlName='age'value=25>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCity">sity</label>
              <input type="text" class="form-control" id="inputCi" formControlName='sity'value="bb">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form><br><br>

  <div class="divbt">
    <button class='btsubmit' (click)="savedetails()" class="btn btn-primary" [disabled]="details.invalid"
      >send</button>
  </div>

</div>