<div class="container">
  <div class="form-search">

    <div class="numpassenger">
      <mat-form-field appearance="fill">
        <mat-label>num passenger</mat-label>
        <mat-select matNativeControl required>
          <div class="btadult"><button #itemplus (click)="adultplus()">+</button>
            <div class="adultvlue">{{svc.adults}}</div> <button (click)="adultminus()" mat-raised-button>-</button>
            <mat-option>adult</mat-option>
          </div>
          <div class="btbaby"><button #itemplus (click)="babyplus()" mat-raised-button>+</button>
            <div class="babyvlue">{{svc.babys}}</div> <button (click)="babyminus()" mat-raised-button>-</button>
            <mat-option>baby</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="divbtdirction">
      <div><button type="button" (click)="ounside()" class="btn btn-info">כיוון אחד</button></div>
      <div class="ounsaid"><button type="button" (click)="backandforth()" class="btn btn-info">שני כיוונים</button>
      </div>
    </div>


    <div class="divinputs">
      <form [formGroup]="flight" class="divinputs2">
        <div class="form-group">
          <label for="exampleFormControlSelect1">from</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="from">
            <option *ngFor="let coutr of countryList" [value]="coutr">{{coutr}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">to</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="to">
            <option *ngFor="let coutr of countryList" [value]="coutr">{{coutr}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="date"
            placeholder="1/1/2020">
        </div>
        <div class="form-group" *ngIf="goAndBack == true">
          <label for="exampleFormControlInput1">date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="date"
            placeholder="1/1/2020">
        </div>
      </form>

      <div style="width: 80%;">
        <button id="cc-search" type="button" class="btn btn-primary" (click)="search()"
          [disabled]="flight.invalid">search</button>
      </div>
    </div>

    <i class='far fa-calendar-alt' style='font-size:36px; color: red'></i>
  </div>



  <div class="listflight">

    <div class="go" *ngIf="listgo == true">
      <label for="">הלוך</label>
      <div #notfound class="notfound"></div>
      <ul *ngFor='let f of listflightgo'>
        <app-findflight [flight]='f'>
        </app-findflight>
      </ul>
    </div>

    <div class="return" *ngIf="listBakc == true">
      <label for="">חזור</label>
      <div #notfound class="notfound"></div>
      <ul *ngFor='let f of listflightback'>
        <app-findflight [flight]='f'>
        </app-findflight>
      </ul>
    </div>

  </div>

</div>