<div class="co">
  <div class="form-search">
    <button routerLink="/privateArea"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
      </svg> אזור אישי </button>
    <button routerLink="/singin">החשבון שלי</button>

    <div class="numpassenger">
    </div>

    <div class="divbtdirction">

      <div class="ounsaid"><button type="button" (click)="ounside()" class="btn btn-info">כיוון אחד</button></div>
      <div class="ounsaid"><button type="button" (click)="goandback()" class="btn btn-info">שני כיוונים</button></div>

      <div class="contbt">
        <div class="btadult">
          <div class="ounsaid"><button #itemplus type="button" (click)="adultplus()" class="btn btn-info">מבוגר
              +</button></div>
          <span class="adultbaby">{{svc.adults}}</span>
          <div class="ounsaid"><button type="button" (click)="adultminus()" class="btn btn-info">מבוגר -</button></div>
        </div>
        <div class="btbaby">
          <div class="ounsaid"><button #itemplus type="button" (click)="babyplus()" class="btn btn-info">תינוק
              +</button></div>
          <span class="adultbaby">{{svc.babys}}</span>
          <div class="ounsaid"><button type="button" (click)="babyminus()" class="btn btn-info">תינוק -</button></div>
        </div>
      </div>

    </div>


    <div class="divinputs">
      <form [formGroup]="flight" class="divinputs2">
        <div class="form-group">
          <label for="exampleFormControlSelect1">from</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="from">
            <option *ngFor="let coutr of countryList" [value]="coutr">{{coutr}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">to</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="to">
            <option *ngFor="let coutr of countryList" [value]="coutr">{{coutr}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="date"
            placeholder="1/1/2020">
        </div>
        <div class="form-group" *ngIf="svc.goAndBack == true">
          <label for="exampleFormControlInput1">date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="dateback"
            placeholder="1/1/2020">
        </div>
      </form>

      <div style="width: 80%;">
        <button id="cc-search" type="button" class="btn btn-primary" (click)="search()"
          [disabled]="flight.invalid">search</button>
      </div>
    </div>

    <i class='far fa-calendar-alt' style='font-size:36px; color: red'></i>
  </div>



  <div class="listflight">
    <div #notfound class="notfound" style="font-size: 30px;color:red;text-align:center"></div>
    <div class="go" *ngIf="listgo == true">
      <label style="font-size: 20px;margin-top: 10px">הלוך</label>

      <ul *ngFor='let f of listflightgo'>
        <app-findflight [flight]='f'>
        </app-findflight>
      </ul>
    </div>

    <div #notfoundback class="notfound" style="font-size: 30px;color:red;"></div>

    <div class="return" *ngIf="listBakc == true">
      <label style="font-size: 20px;margin-top: 10px">חזור</label>

      <ul *ngFor='let f of listflightback'>
        <app-findflight [flight]='f'>
        </app-findflight>
      </ul>
    </div>

  </div>


</div>