.form-search{
    direction: rtl;
    margin-top: 20%;
  
}

.divinputs{
    height: 150px;
    background:  skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    width: 150px;
    margin: 40px auto;
      
    }


    .f{
        margin: 30px;
    }

    .btadult, .btbaby{
        display: flex;
        margin-top: 1px;
        justify-content: space-between;
    }

    .item, span{
        margin-left:5px;
        
    }
    .numperson{
        display: flex;
        flex-direction: column;
        border: 1px blue solid
        /* margin:5px; */
    }

