

<div class="container" >
    <div class="form-search" >
        <div class="row divinputs">

            <mat-form-field appearance="fill">
                    <mat-label>oun passenger</mat-label>
                    <mat-select matNativeControl required >
                      <div class="btadult"><button (click)="adultplus()" mat-raised-button>+</button> <div class="adultvlue">{{svc.adults}}</div> <button (click)="adultminus()"  mat-raised-button>-</button><mat-option >adult</mat-option></div>
                      <div class="btbaby"><button (click)="babyplus()" mat-raised-button>+</button> <div class="babyvlue">{{svc.babys}}</div> <button (click)="babyminus()"  mat-raised-button>-</button><mat-option >baby</mat-option></div>
                    </mat-select>
                  </mat-form-field>
 
            <mat-form-field appearance="fill" class="f">
                <mat-label>from</mat-label>
                <mat-select  [formControl]="from">
                    <mat-option *ngFor="let coutr of countryList" [value]="coutr" >
                            {{coutr}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
      
                  <mat-form-field appearance="fill" class="divinputs" >
                        <mat-label>to</mat-label>
                        <mat-select  [formControl]="to">
                          <mat-option *ngFor="let coutr of countryList" [value]="coutr">
                            {{coutr}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

            <div class="col">
                <input type="text" class="form-control" [formControl] ="date" placeholder="date ">            
            </div>

            <button id="cc-search" type="button" class="btn btn-primary" (click)="search()">search</button>  
        </div>
    
        <i class='far fa-calendar-alt' style='font-size:36px; color: red'></i>
    </div>  

    <div class="notfound">not found flight</div>

    <ul *ngFor='let f of listfligthrsl'>
        <app-findflight 
            [flight]='f'
            >
        </app-findflight>
    </ul>
    
</div>

<!-- [numepassengers]='numperson.value' -->

      