.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    border:5px blue solid;
    border-radius: 15px;
    padding: 15px;
    margin: 3px;
    background-color: azure
}
label{
    direction: rtl;
    margin-left: 15px;
    color: blue;
    display: flex;
    flex-direction: row;
    
}
span{
  color: black;
}
button{
  margin-right: 10px;
  border-radius: 15px;
}

.label{
  display: flex;
  flex-direction: column
}