
<div #notpassengers style="margin: auto;
color: red;
font-size: 20px"></div>
<div class="details">
    <label class="label"><span>companyName</span>   {{flight.companyName}} </label>
    <label class="label"><span>from </span>         {{flight.from}} </label>
    <label class="label"><span>fromhour</span>      {{flight.fromhour}}  </label>
    <label class="label"><span>to</span>            {{flight.to}}  </label>
    <label class="label"><span>tohour</span>        {{flight.tohour}} </label>
    <label class="label"><span>date</span>          {{flight.date}} </label>
    <label class="label"><span>price</span>         {{flight.price}}</label>
    
    <button #btselect (click)='select()'>select</button>
</div>

<div class="place" style="color: red;"> </div>