/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./app/img/aaa.jpg'); 
    background-size:  cover;
}
/* .container{
    border: 2px rgb(16, 134, 202) solid;
    
} */
  
