/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .container{
    border: 2px rgb(16, 134, 202) solid;
    
} */
.img{ 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfpaWaWBuQmZtk4P4Qdw_AJ8xrN3yJ5dmyZw&usqp=CAU');
    height: 70%;
    width:100%; 
 }  
