
<div class="form-signin container">
    <!-- <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->

    <h1 class="h3 mb-3 font-weight-normal">Please create an account</h1>

    <label for="inputEmail" class="sr-only">name</label>
    <input type="text" id="inputName" class="form-control"  [formControl]="name" placeholder="name" required="" autofocus="">

    <label for="inputEmail" class="sr-only">emil</label>
    <input type="text" id="inputEmil" class="form-control"  [formControl]="emil" placeholder="emil" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control"  [formControl]="password" placeholder="Password" required="">

    <div class="checkbox mb-3">
      <label>
        <!-- <input type="checkbox" value="remember-me"> Remember me -->
      </label>
    </div>
    <button (click)='singup()' class="btn btn-lg btn-primary btn-block" >continu<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg></button><br>

      <p>if you are registered <a routerLink ='/singin'>singin</a> </p>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
</div>