.container{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px blue solid;
    border-radius: 15px;
}

.btn{
    margin: 50px;
}

.alert{
    color: red;
    font-size: 150%
 }
 