
<div class="form-signin container">
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
   
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <p class="alert"></p>

    <form class="from" [formGroup]="signin" (ngSubmit)="singin()">

        <label for="inputEmail" class="sr-only">name</label>
        <input type="text" id="inputName" class="form-control"  formControlName="name" placeholder="name" required="" autofocus="">


        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  class="form-control" formControlName="password" placeholder="Password" required="">

        <button type="submit" [disabled]="!signin.valid" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form> -->


    <p class="mt-5 mb-3 text-muted">© 2020</p>

</div>



<!-- <form class="from" [formGroup]="signin" (ngSubmit)="singin()">
        <div>
          <span> name:</span><input type="text" formControlName="name" placeholder="first name">
          <span> Password:</span><input type="text" formControlName="Password" placeholder="last name">
          
          <br><br>
        
          <button type="submit" [disabled]="!signin.valid">Submit</button>
        </div>
      </form> -->





<!-- <form>
    <div class="form-group">
        <label for="exampleInputEmail1">name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->